<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Basketball Team! </h1>
  Team Name: <%= @name %>
  Coach: <%= @coachs %>
  Point Guard: <%= @ %>
  Shooting Guard: <%= @pg %>
  Small Forward: <%= @sg %>
  Power Forward: <%= @pf %>
  Center: <%= @c %>

 </body>
</html>
